<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interfaz Principal</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-white">
  <header class="sticky top-0 bg-gray-800 text-white p-4">
    <div class="container mx-auto">
      <div class="flex justify-between items-center">
        <div>
          <a href="http://localhost:7070/api/obtenerComunidades" class="text-2xl font-bold text-white hover:text-gray-500">M.E.S.T.P.E. 🗺</a>
        </div>
        <div class="hidden md:flex space-x-4">
          <a href="http://localhost:7070/api/obtenerComunidades" class="text-white hover:text-gray-500">Lista de Comunidades</a>
          <div class="h-6 border-l border-gray-500"></div>
          <a href="http://localhost:7070/api/obtenerRankingEntidades" class="text-white hover:text-gray-500">Rankings de Incidentes</a>
          <div class="h-6 border-l border-gray-500"></div>
          <a href="#" class="text-white hover:text-gray-500">Administrar Tipos de Usuario</a>
          <div class="h-6 border-l border-gray-500"></div>
          <a href="http://localhost:7070/login" class="text-white hover:text-gray-500">Log In</a>
        </div>
        <div class="relative inline-block">
          <button id="triggerButton" class="text-white focus:outline-none hover:text-gray-500">
            <i class="fas fa-bell"></i>
          </button>
          <div id="notificacionesMenu" class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded shadow-lg hidden">
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Sugerencia Incidente 1</a>
            <hr class="my-1 border-gray-100">
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Sugerencia Incidente 2</a>
            <hr class="my-1 border-gray-100">
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Sugerencia Incidente 3</a>
          </div>
        </div>
        <div class="relative inline-block md:hidden">
          <button id="toggleMenu" class="text-white focus:outline-none">
            <i class="fas fa-bars"></i>
          </button>
          <div id="mobileMenu" class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded shadow-lg hidden">
            <a href="carga_datos.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Carga de Datos</a>
            <hr class="my-1 border-gray-100">
            <a href="lista_comunidades.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Lista de Comunidades</a>
            <hr class="my-1 border-gray-100">
            <a href="ranking_incidentes.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Rankings de Incidentes</a>
            <hr class="my-1 border-gray-100">
            <a href="admin_tipos_usurario.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Administrar Tipos de Usuario</a>
            <hr class="my-1 border-gray-100">
            <a href="inicio_sesion.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="container mx-auto p-8 flex flex-col items-center">
    <h2 class="text-2xl font-bold mb-4 text-center">Gestión de Tipos de Usuario</h2>

    <div class="flex items-center gap-4 mb-4">
      <input type="text" id="nuevoTipoUsuario" class="p-2 border border-gray-300 rounded" placeholder="Nuevo Tipo de Usuario">
      <button onclick="agregarTipoUsuario()" id="agregarTipoUsuario" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Agregar</button>
    </div>

    <ul id="tiposUsuarioList" class="list-group p-0 m-0 w-full" style="display: flex; align-items: center; justify-content: center;">
      {{#tiposUsuario}}
        <li class="list-group-item" style="display: flex; justify-content: space-between; width: 30vw;">
          <strong>{{nombre}} con id: {{id}}</strong>
          <button type="button" class="btn btn-danger" onclick="eliminarTipoUsuario('{{id}}')">
            Eliminar
          </button>
        </li>
      {{/tiposUsuario}}
    </ul>
  </main>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

<script>
    async function eliminarTipoUsuario(id) {
      let idInt = parseInt(id);
      let res = await fetch("http://localhost:7070/api/eliminarTipoUsuario/" + id, {
        method: "POST"
      })
      location.reload()
    }

    async function agregarTipoUsuario() {
      let nuevoTipo = document.getElementById("nuevoTipoUsuario").value
      let res = await fetch("http://localhost:7070/api/insertarTipoUsuario/" + nuevoTipo, {
        method: "POST"
      })
      location.reload()
    }

    document.getElementById('triggerButton').addEventListener('click', function() {
    // Crear un contenedor para la alerta
    let alertContainer = document.createElement('div');
    alertContainer.className = 'alert-container';

    // Añadir texto a la alerta
    alertContainer.innerHTML = "<p>Hay un incidente cerca tuyo. ¿El incidente persiste?</p>";

    // Crear botón "Sí"
    let yesButton = document.createElement('button');
    yesButton.textContent = 'Sí';
    yesButton.className = 'alert-button yes-button';
    yesButton.addEventListener('click', function() {
        document.body.removeChild(alertContainer);
    });

    // Crear botón "No"
    let noButton = document.createElement('button');
    noButton.textContent = 'No';
    noButton.className = 'alert-button no-button';
    noButton.addEventListener('click', function() {
        document.body.removeChild(alertContainer);
    });

    // Añadir botones al contenedor
    alertContainer.appendChild(yesButton);
    alertContainer.appendChild(noButton);

    // Añadir el contenedor de la alerta al cuerpo del documento
    document.body.appendChild(alertContainer);
});
</script>

<style>
  /* Estilos para el botón que desencadena la alerta */
  #triggerButton {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  /* Estilos para el contenedor de la alerta */
  .alert-container {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      text-align: center;
      z-index: 1000;
  }

  /* Estilos para los botones de la alerta */
  .alert-button {
      padding: 10px 20px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  /* Colores específicos para cada botón */
  .yes-button {
      background-color: #4CAF50;
      color: white;
  }

  .no-button {
      background-color: #f44336;
      color: white;
  }
</style>

</html>
