<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Comunidades</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/components/modal/">
</head>

<body class="bg-white">
  <header class="sticky top-0 bg-gray-800 text-white p-4">
    <div class="container mx-auto">
      <div class="flex justify-between items-center">
        <div>
          <a href="#" class="text-2xl font-bold text-white hover:text-gray-500">M.E.S.T.P.E. 🗺</a>
        </div>
        <div class="hidden md:flex space-x-4">
          <a href="#" class="text-white hover:text-gray-500">Lista de Comunidades</a>
          <div class="h-6 border-l border-gray-500"></div>
          <a href="http://localhost:7070/api/obtenerRankingEntidades" class="text-white hover:text-gray-500">Rankings de Incidentes</a>
          <div class="h-6 border-l border-gray-500"></div>
          <a href="http://localhost:7070/api/obtenerTiposUsuario" class="text-white hover:text-gray-500">Administrar Tipos de Usuario</a>
          <div class="h-6 border-l border-gray-500"></div>
          <a href="http://localhost:7070/login" class="text-white hover:text-gray-500">Log In</a>
        </div>
        <div class="relative inline-block">
          <button type="button" id="triggerButton" data-toggle="modal" data-target="#exampleModal" class="text-white focus:outline-none hover:text-gray-500">
            <i class="fas fa-bell"></i>
          </button>
          <div id="notificacionesMenu" class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded shadow-lg hidden">
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Sugerencia Incidente 1</a>
            <hr class="my-1 border-gray-100">
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Sugerencia Incidente 2</a>
            <hr class="my-1 border-gray-100">
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Sugerencia Incidente 3</a>
          </div>
        </div>
        <div class="relative inline-block md:hidden">
          <button id="toggleMenu" class="text-white focus:outline-none">
            <i class="fas fa-bars"></i>
          </button>
          <div id="mobileMenu" class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded shadow-lg hidden">
            <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Lista de Comunidades</a>
            <hr class="my-1 border-gray-100">
            <a href="http://localhost:7070/api/obtenerRankingEntidades" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Rankings de Incidentes</a>
            <hr class="my-1 border-gray-100">
            <a href="http://localhost:7070/api/obtenerTiposUsuario" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Administrar Tipos de Usuario</a>
            <hr class="my-1 border-gray-100">
            <a href="http://localhost:7070/login" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="container mx-auto p-8 flex flex-col items-center">
    <h2 class="text-2xl font-bold mb-4 text-center">Lista de Comunidades</h2>
    <ul id="comunidadesList" class="list-none p-0 w-full">
      {{#listaComunidades}}
      <div class="flex items-center flex-wrap justify-between mb-4 border border-gray-300 p-4">
        <h3 class="text-xl font-bold mr-4">{{nombre}}</h3>
        <div class="py-4 flex flex-wrap gap-4">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-2">
              <i class="fas fa-eye"></i> Comunidad
          </button>
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full mr-2">
              <i class="fas fa-users"></i> Usuarios
          </button>
          <a href="obtenerIncidentesComunidad/{{id}}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
            <i class="fas fa-exclamation-triangle"></i> Incidentes
          </a>
        </div>
      </div>
      {{/listaComunidades}}
    </ul>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script>
document.getElementById('triggerButton').addEventListener('click', function() {
    // Crear un contenedor para la alerta
    let alertContainer = document.createElement('div');
    alertContainer.className = 'alert-container';

    // Añadir texto a la alerta
    alertContainer.innerHTML = "<p>Hay un incidente cerca tuyo. ¿El incidente persiste?</p>";

    // Crear botón "Sí"
    let yesButton = document.createElement('button');
    yesButton.textContent = 'Sí';
    yesButton.className = 'alert-button yes-button';
    yesButton.addEventListener('click', function() {
        document.body.removeChild(alertContainer);
    });

    // Crear botón "No"
    let noButton = document.createElement('button');
    noButton.textContent = 'No';
    noButton.className = 'alert-button no-button';
    noButton.addEventListener('click', function() {
        document.body.removeChild(alertContainer);
    });

    // Añadir botones al contenedor
    alertContainer.appendChild(yesButton);
    alertContainer.appendChild(noButton);

    // Añadir el contenedor de la alerta al cuerpo del documento
    document.body.appendChild(alertContainer);
});
  </script>

<style>
  /* Estilos para el botón que desencadena la alerta */
  #triggerButton {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  /* Estilos para el contenedor de la alerta */
  .alert-container {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      text-align: center;
      z-index: 1000;
  }

  /* Estilos para los botones de la alerta */
  .alert-button {
      padding: 10px 20px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  /* Colores específicos para cada botón */
  .yes-button {
      background-color: #4CAF50;
      color: white;
  }

  .no-button {
      background-color: #f44336;
      color: white;
  }
</style>

</body>

</html>
